<mat-card>
  <mat-spinner *ngIf="isLoading"> </mat-spinner>
  <form (submit)="signup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        name="email"
        placeholder="Enter Email"
        type="email"
        #emailInput="ngModel"
        ngModel
        required
        email
      />
      <mat-error *ngIf="emailInput.valid">Please Enter Valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Enter password"
        name="password"
        #passwordInput="ngModel"
        ngModel
        required
      />
      <mat-error *ngIf="passwordInput.valid"
        >Please Enter Valid password</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Sign up
    </button>
  </form>
</mat-card>
